body{
    background-color: rgb(102, 142, 216);
      
}

h1{
    text-align: center;
    color: coral;
    font-family: sans-serif;
    font-weight: 900;
    margin-top: 30px;
    font-size: 40px;
   
}
.conteiner{
    display:flex ;
    margin-top: 0px;
}
.conteiner-1{
    display:flex ;
    margin-top: 150px;
}
.hedar-1{
    width: 50%;
   margin-top: 50px;
   margin-left: 5%;
}
.hedar-2{
    width: 50%;
}
.hedar-2 img{
    width: 100%;
    border-radius: 50%;
}
.btn{
    color: rgb(234, 241, 250);
    background-image: linear-gradient(orange, coral);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hedar-1 p{
    text-align: justify;
    width: 80%;

}
.img-3{
    width: 280px;
    text-align: center;
    border-radius: 50%;
    padding: 0px;
    margin-top: 60px;
    margin-left: 500px;
}
.hedar-2{
    display: flex;
    margin-left: 30px;
}
.hedar-3 {
    display: inline-block;
    margin: 20px;
    background-color: rgb(223, 187, 43);
    padding: 2%;
    box-shadow: 10px 10px 40px rgb(117, 86, 86);
    border-radius: 5px;
    width: 40%;
    height: auto;
   margin-top: 50px;
   margin-left: 2%;
}
.hedar-3  p{

    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.footer{
    text-align: center;
    margin-top: 20px;
    font-family: cursive;
}